:root {
  --backgroundGreyColor: #1e1e1e;
  --tableGreyRow: #2e2e2e;
  --whiteTextColor: rgb(200, 200, 200);
  --inputBoxBackgroundBorderColor: #383838;
  /* ever so slightly pinkish but does the job well.
    Decreasing lightness increases redness and increasing increases pinkness */
  --redColorJustPassesA11Y: hsl(0, 100%, 64%);
  --genericLinkBlueColor: #21b0fd;
  --genericLinkVisitedBlueColor: #8ab1ff;
}

body {
  background-image: none !important;
  background: var(--backgroundGreyColor) !important;
  background-color: var(--backgroundGreyColor) !important;
}

a {
  color: white;
}
